.add-money-input {
  background-color: hsl(39, 88%, 80%);
  width: 100%;
  padding: .7rem;
  padding-left: 2rem;
  margin-top: 10rem;
  grid-row: 1/2;
  grid-column: 1/2;
  outline: none;
  color: rgb(98, 0, 0);
  border: .1rem solid hsl(39, 88%, 60%);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 2.6rem;
}

.add-money-input::placeholder {
  color: rgba(98, 0, 0, 0.2);
}

.add-btn {
  margin-top: 10rem;
  width: 100%;
  padding: 1rem;
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: hsl(39, 88%, 63%);
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: hsl(0, 100%, 19%);
  font-weight: 700;
  font-size: 2rem;
}

.add-money-spans {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(39, 88%, 80%);
    width: 100%;
    height: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: hsla(0, 100%, 20%, 0.8);
    border-radius: 1rem;
  }
}

/* .generate-qr {
  grid-row: 3/4;
  grid-column: 1/3;
  margin: 0 auto;
  width: 30rem;
  height: 30rem;
} */

.qr-div {
  grid-row: 3/4;
  grid-column: 1/3;
  margin: 0 auto;
}

.qr-details {
  grid-row: 4/5;
  grid-column: 1/3;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  color: rgb(98, 0, 0);
  font-size: 1.6rem;
}

.timer {
  color: rgba(98, 0, 0, 0.7);
  margin-bottom: 2rem;
  margin-top: -2rem;
  font-size: 3rem;
}