.coin-container {
  width: 100%;
  /* height: 28rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin {
  width: 30rem;
  /* height: 20rem; */
  perspective: 100rem;
  margin-top: 2rem;
}

.coin-inner {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  transition: transform .6s ease;
  transform-style: preserve-3d;
  /* animation: flip 10s ease; */
}

/* .coin:hover .coin-inner {
  transform: rotateY(180deg);
} */


.coin-img-1,
.coin-img-2 {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  overflow: hidden;
  backface-visibility: hidden;
}

.coin-heads-img {}

.coin-img-2 {
  transform: rotateY(180deg);
}

.toss-btns {
  width: 80%;
  margin: 0 auto;
  margin-top: 18rem;
  display: flex;
  gap: 2rem;
  row-gap: 3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heads-btn,
.tails-btn {
  width: 40%;
  max-width: 60%;
  padding: 1.2rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: none;
  corner-shape: squircle;
  background-color: rgb(243, 183, 72);
  font-weight: 500;
  color: rgb(98, 0, 0);
  box-shadow: 0 .2rem .6rem rgba(0, 0, 0, 0.3);
  transition: transform .1s;
}

.heads-btn:active,
.tails-btn:active,
.demo-btn:active {
  opacity: .7;
}

.demo-btns {
  width: 26rem;
  display: flex;
  justify-content: center;
  margin-top: -3rem;
}

.demo-btn {
  width: 100%;
  color: white;
  background-color: hsl(80, 100%, 35%);
  padding: 1.2rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: none;
  corner-shape: squircle;
  font-weight: 500;
  box-shadow: 0 .2rem .6rem rgba(0, 0, 0, 0.3);
  transition: transform .1s;
}

.withdraw-list-container {
  height: 20%;
  overflow: hidden;
  width: 90%;
  background-color: rgba(243, 183, 72, 0.3);
  border-radius: 2rem;
  padding: 2rem;
  padding-left: 4rem;
  /* box-shadow: inset 0 2rem 2rem rgba(243, 183, 72, 0.3),
    inset 0 -2rem 2rem rgba(243, 183, 72, 0.3); */

  .withdraw-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* text-align: center; */
    /* list-style: none; */
    gap: 1.2rem;
    padding-top: 33%;
    margin-left: -1rem;
    text-align: center;
    list-style-type: none;
    animation: scrollY 270s linear infinite;

    li {
      font-size: 1rem;
      opacity: 0.4;
    }
  }
}

.heads-btn:active,
.tails-btn:active {
  transform: translateY(.1rem) scale(.99);
  box-shadow: 0 .15rem .4rem rgba(0, 0, 0, 0.3);
}

.betting-amount-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 19rem;
  left: 4rem;
  width: 5rem;
  height: 15rem;
}

.plus-10 {
  width: 100%;
  height: 5rem;
  border: none;
  background-color: rgba(98, 0, 0, 0.65);
  color: var(--color-background);
  font-size: 1.4rem;
  corner-shape: squircle;
  border-radius: 50%;
}

.betting-amount {
  /* width: 100%;
  height: 5rem; */
  color: rgba(98, 0, 0, 0.8);
  font-size: 2.8rem;
  font-weight: 900;
}

.minus-10 {
  width: 100%;
  height: 5rem;
  border: none;
  background-color: rgba(98, 0, 0, 0.65);
  color: var(--color-background);
  font-size: 1.4rem;
  corner-shape: squircle;
  border-radius: 50%;
}

.plus-10:active,
.minus-10:active {
  background-color: rgba(98, 0, 0);
}