.overlay-section {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110%;
  margin-top: 14rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(.4rem) brightness(0.9);
  text-align: center;
  z-index: 1000;
}

.dialog-box {
  position: relative;
  width: 70%;
  padding: 2rem;
  border: .1rem solid rgb(243, 183, 72);
  box-shadow: 0 .2rem .6rem rgba(72, 54, 21, 0.4);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
  backdrop-filter: blur(1rem);
}

.close-dialog {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  cursor: pointer;
}

.your-choice {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: rgb(98, 0, 0);
}

.result-emoji {
  display: block;
  padding-top: 3rem;
  font-size: 4rem;
}

.message {
  font-size: 2rem;
  color: rgb(98, 0, 0);
  padding-bottom: 3rem;
  font-weight: 900;
}

.result-amount {
  font-size: 2rem;
  color: rgb(98, 0, 0);
  font-weight: 500;
  padding-bottom: 2rem;
}

.main-body {
  height: 100%;
}

.overlay-apply {}