*,
*::before,
*::after {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
  -webkit-tap-highlight-color: transparent;
  transition: all .3s;
}

html {
  font-size: 52.5%;
  scroll-behavior: smooth;
  /* scrollbar-gutter: stable; */
}

body {
  position: relative;
  top: 0;
  box-sizing: border-box;
  max-width: 120rem;
  width: 100%;
  height: 97vh;
  margin: 0 auto;
  background-color: var(--color-background);
  background-attachment: fixed;
  /* overflow: hidden; */
}

img {
  display: block;
  width: 12rem;
}

button {
  cursor: pointer;
}