body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 500;
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  color: rgba(44, 0, 0, 0.642);
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
}

.heading-fourth {
  font-size: 1.6rem;
  font-weight: 500;
}

.card-heading {
  margin-left: 2rem;
}


.card-parah {
  margin: 0;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.55);
}