:root {

  /* --------------------------------------------------------- */
  --color-text: hsl(0, 0%, 20%);
  --color-text-white: hsl(0, 0%, 93%);
  --color-grey: hsl(0, 0%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-alpha10: hsla(0, 0%, 100%, 0.1);
  --color-white-alpha20: hsla(0, 0%, 100%, 0.2);
  --color-white-alpha30: hsla(0, 0%, 100%, 0.3);
  /* --------------------------------------------------------- */
  /* --------------------------------------------------------- */
  --color-primary: hsla(190, 80%, 35%);
  --color-primary-alpha: hsla(190, 80%, 35%, .7);

  /* --------------------------------------------------------- */
  --color-bg-front-face: hsla(190, 50%, 70%);
  --color-bg-back-face: var(--color-primary);


  /* --------------------------------------------------------- */
  --color-bg-big-card: hsl(190, 100%, 99%);
  --color-background: hsl(39, 100%, 90%);
  --color-shadow-very-light: hsl(190, 50%, 85%);
  --color-shadow-light: hsl(190, 50%, 80%);
  --color-shadow-dark: hsl(190, 50%, 70%);
  --color-shadow-very-dark: hsl(190, 50%, 40%);

  /* --------------------------------------------------------- */

}